<div class='header'>
  <h1>Title</h1>
</div>
{{#with_sidebar}}
<div class='sidebar'>
  <p>sidebar</p>
</div>
{{/with_sidebar}}
<div class='content'>
  <p>Content</p>
  <button x-on='toggleSidebar' x-event='click'>
    {{#with_sidebar}}
      закрыть 
    {{/with_sidebar}}
    {{#without_sidebar}}
      открыть 
    {{/without_sidebar}}
    сайдбар
  </button>
</div>
<div class='footer'>
  <span>footer</span>
</div>