<div class='root'>
  <h1 class='root__title'>Официальная документация и примеры использования Jet Core</h1>
  <div class='root__examples'>
    {{! <div class='example'>
      <div class='example__title'>Пример использования плагина. Спойлер с рекомпиляцией markdown by Remarkable</div>
      <div x-component='MarkdownExpander'></div>
    </div>
    <div class='example'>
      <div class='example__title'>Пример наследования компонента. Селект пользователей на example api. Компонент высшего порядка над селектом</div>
      <div x-component='UsersSelect'></div>
    </div> }}
    <div class='example'>
      <div class='example__title'>Полотно тестирования обновлений списков</div>
      <div x-component='UpdatableList'></div>
    </div>
  </div>
</div>